body {
background: black;
background-image: url(traffic.jpg);
background-size: 100% auto;
background-repeat:no-repeat;
}

#bar
{
position: absolute;
top: 20%;
left: 75%;
width: 25%;
z-index: -1;
}
#bar2
{
position: absolute;
top: 20%;
left: -10px;
width: 25%;
z-index: -1;
}
#sign1{
position: absolute;
top: 20%;
left: 15%;
width: 25%;
z-index: -1;
}

#sign2{
position: absolute;
top: 20%;
left: 60%;
width:25%;
z-index: -1;
}

#tb1{
position: absolute;
top: 24%;
left: 24%;
z-index: 1;
height:100px;
width: 100px;
font-size:30pt;
color: white;
background-color:transparent;
}

#tb2{
position: absolute;
top: 24%;
left: 69%;
z-index: 1;
height:100px;
width: 100px;
font-size:30pt;
color: white;
background-color:transparent;
}


#titlebar {
margin-left: auto;
margin-right: auto;
width: 100%;
}

#instructions {
position: absolute;
left: 0;
top: 50%;
margin-left: auto;
margin-right: auto;
width: 100%;
visibility:hidden;
}
#about{
position: absolute;
left: 0;
top: 50%;
margin-left: auto;
margin-right: auto;
width: 100%;
visibility:hidden;
}

#button1{
position: absolute;
top: 2%;
left: 90%;
background: transparent;
color: white;
border-width: 1px;
width: 5%;

}

#button2{
position: absolute;
left: 90%;
top: 5%;
background: transparent;
color: white;
border-width: 1px;
width: 5%;
}
h1
{
position: absolute;
left: 25%;
color: #F0F0F0;
font-size: 45pt;
}
